<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!---
   <extension
         point="org.eclipse.ui.views">
      <category
            name="PyDev"
            id="ECS240">
      </category>
      <view
            name="DragTargetView"
            icon="icons/sample.gif"
            category="ECS240"
            class="ecs240.views.DragTargetView"
            id="ecs240.views.DragTargetView">
      </view>
   </extension>
-->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="PyDev"
            id="org.python.pydev">
      </category>
      <view
            name="Topology Editor"
            icon="icons/sample.gif"
            category="org.python.pydev"
            class="ecs240.views.TopologyEditorView"
            id="ecs240.views.TopologyEditorView">
      </view>
   </extension>
   
   
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
